.main {
    text-align: center;
    background-color:darkturquoise;
  }
.button{
    color: whitesmoke;
    font-stretch: expanded;
    background-color: blue;
    font-size: 1rem;
    font-weight: bolder;
    border-style: solid;
    border-color: blue;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left:1rem;
  }
.heading1{
    color: black;
    text-decoration-style: solid;
  }
.heading2{
    color: blue;
    text-decoration-style: solid;
    
}
.heading4 {
    color: grey;
    text-decoration-style: dotted;
}
.hr{
    height:1px;
    width: 22.5%;
    background-color:gray;
    }
.label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 1rem;
    align-content: flex-start;
    text-align: left;
    }
.input{
    margin-top: 1rem;
    margin-left: 3rem;
}
.radio{
    margin-top:1rem;
    margin-left:2rem;
}